@charset "utf-8";

.about_me {
  margin-left: 7.5%;
  padding-right: 30px;
}
h2 {
  text-align: center;
}
h2 img {
  width: 32%;
  margin-top: 100px;
  margin-bottom: 50px;
}
.myself {
  display: flex;
}
.my_pic {
  width: 58%;
  height: auto;
}
.my_pic img {
  width: 100%;
  height: auto;
}
.skills_info {
  display: block;
  width: 42%;
}
.skills_info h3 {
  border-left: 7px solid #a6b8c2;
  padding: 0 8px;
}
.skills {
  width: 22%;
  min-width: 90px;
}
.expertise {
  width: 30%;
  min-width: 120px;
}
.about_me p {
  font-size: 1em;
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 50px;
}

.my_name {
  width: 31%;
  margin-top: 50px;
  margin-bottom: 30px;
}
