@charset "utf-8";

.header_wrap {
  background-color: #f7f3f1;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}
.header_logo {
  margin-left: 30px;
  margin-top: 20px;
  width: 135px;
  position: fixed;
}
.pc_nav ul {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 40%;
}
.pc_nav ul li {
  font-weight: bold;
  font-size: 16px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  text-align: center;
}
.pc_nav ul li img {
  width: 50px;
  margin-right: 50px;
}
/* もくじ */
#teble_of_contents {
  position: relative;
}
.contents_innner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1038px;
  margin: 0 auto;
}
h5 {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 1.3em;
  letter-spacing: 2em;
  background-color: yellowgreen;
}
.index {
  margin-right: 100px;
}
.contents_page {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  background-color: skyblue;
}
.contents_detail li {
  font-size: 1em;
  line-height: 6;
  background-color: yellow;
}
.contents_detail {
  margin-left: 10vw;
}
.index {
  float: right; /* 回り込み指定 */
}
.index_circle {
  display: flex;
  font-size: 1rem;
  text-align: center;
  color: #293850;
  margin-left: 26%;
  margin-right: 37%;
  gap: 8%;
}
.circle_1 {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #efdad3;
  text-align: center;
  line-height: 70px;
}
.circle_2 {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #efdad3;
}
.circle span {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 70px;
  text-align: center;
}

.facing_page img {
  margin-left: 11%;
  width: 89%;
}

/*ーーーーーーーーーーーーーーーーーーーーーーー*/
h2 img {
  width: 45%;
}
.catch_copy {
  text-align: center;
  margin-top: 124px;
  margin-bottom: 50px;
}
main p {
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 80px;
  margin-right: 30px;
  margin-left: 30px;
}

#service {
  margin-right: 7.5%;
  margin-left: 7.5%;
}
#service h3 img {
  margin-top: 150px;
  margin-bottom: 80px;
  margin-left: 35%;
  text-align: center;
  width: 30%;
}
.direction,
.design,
.cording,
.translation {
  display: flex;
  margin-right: 30px;
}
.pictogram {
  max-width: 25%;
  padding-top: 60px;
}
.details {
  padding-left: 30px;
  margin-right: 30px;
  max-width: 75%;
}
#service h4 {
  font-size: 24px;
  margin-top: 60px;
  padding-bottom: 28px;
  margin-bottom: 0;
}
#service p {
  font-size: 16px;
  line-height: 1.75;
}

#works {
  max-width: 1000px;
  margin-right: 7.5%;
  margin-left: 7.5%;
  background-color: orange;
}
#works h3 img {
  margin-top: 130px;
  margin-bottom: 80px;
  margin-left: 36%;
  text-align: center;
  width: 28%;
}
