@charset "utf-8";

main {
  margin: 150px 7% 100px;
}
h2 {
  text-align: center;
  font-size: 2em;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-weight: lighter;
  margin-bottom: 50px;
  letter-spacing: 0.1em;
}
.line_break {
  display: inline-block;
}
main p {
  text-align: left;
  font-size: 1em;
  line-height: 3;
  letter-spacing: 0.02em;
}
span {
  display: inline-block;
}
.thanks_pic img {
  display: flex;
  width: 100%;
  margin: 120px 0 0;
  vertical-align: bottom;
}
/* レスポンシブ */
@media screen and (max-width: 767px) {
  main {
    margin: 80px 30px 100px;
  }
  h2,
  main p {
    line-height: 1.8;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 1.5em;
  }
  main p {
    margin-bottom: 100px;
  }
  .thanks_pic img {
    width: 100%;
    vertical-align: bottom;
    margin: 0;
  }
}
