@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #293850;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
}
a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}
a:hover {
  opacity: 0.5;
}
ul {
  /*左の「・」を消す*/
  list-style: none;
}
img {
  max-width: 100%;
}
/*ーーーーーー↑ リセットCSS ↑ーーーーーー*/

.thanks_page {
  text-align: center;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  text-align: center;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 1.6em;
  margin-top: 130px;
  margin-bottom: 50px;
}
p {
  font-size: 1em;
  line-height: 3;
  margin-bottom: 100px;
}
.thanks_page img {
  width: 19%;
  margin-bottom: 100px;
}
